body, html {
  font-family: "Lucida Console", monospace;
}

.App {
  height: 100vh;
  width: 100vw;
  text-align: center;
  display: flex;
  justify-content: center;
}

.trading-container {
  margin-top: 20px;
  width: 70%;
  height: 80%;
  background-color: #2c3e50;
}