body,
html {
  font-family: 'Helvetica Neue', sans-serif;
  background: linear-gradient(-45deg, #ee7752, #e73c7e, #23a6d5, #23d5ab);
  background-size: 400% 400%;
  animation: gradient 9s ease infinite;
}

@keyframes gradient {
  0% {
    background-position: 0% 50%;
  }

  50% {
    background-position: 100% 50%;
  }

  100% {
    background-position: 0% 50%;
  }
}

.App {
  height: 100vh;
  max-width: 100vw;
  text-align: center;
  display: flex;
  justify-content: center;
}

.trading-container {
  padding: 20px 20px;
  display: flex;
  flex-direction: column;
  margin-top: 20px;
  max-width: 85%;
  max-height: 85%;
  background-color: #ecf0f1;
  box-shadow: rgba(0, 0, 0, 0.616) 0px 22px 70px 4px;
  border-radius: 10px;
}

.content-container {
  justify-content: center;
  align-items: center;
  height: 100%;
  display: flex;
}