.nav {
    color: white;
    display: flex;
    justify-content: center;
    column-gap: 10px;
}

.nav-button {
    appearance: none;
    background-color: #FFFFFF;
    border-width: 0;
    box-sizing: border-box;
    color: #000000;
    cursor: pointer;
    display: inline-block;
    font-family: Clarkson, Helvetica, sans-serif;
    font-size: 0.8rem;
    font-weight: 500;
    letter-spacing: 0;
    line-height: 1em;
    border-radius: 10px;
    margin: 0;
    opacity: 1;
    outline: 0;
    padding: 0.5em 1.2em;
    position: relative;
    text-align: center;
    text-decoration: none;
    text-rendering: geometricprecision;
    text-transform: uppercase;
    transition: opacity 300ms cubic-bezier(.694, 0, 0.335, 1), background-color 100ms cubic-bezier(.694, 0, 0.335, 1), color 100ms cubic-bezier(.694, 0, 0.335, 1);
    user-select: none;
    -webkit-user-select: none;
    touch-action: manipulation;
    vertical-align: baseline;
    white-space: nowrap;
}

.nav-button:before {
    border-radius: 10px;
    animation: opacityFallbackOut .5s step-end forwards;
    backface-visibility: hidden;
    background-color: #AEE8F5;
    clip-path: polygon(-1% 0, 0 0, -25% 100%, -1% 100%);
    content: "";
    height: 100%;
    left: 0;
    position: absolute;
    top: 0;
    transform: translateZ(0);
    transition: clip-path .5s cubic-bezier(.165, 0.84, 0.44, 1), -webkit-clip-path .5s cubic-bezier(.165, 0.84, 0.44, 1);
    width: 100%;
}

.nav-button:hover:before {
    animation: opacityFallbackIn 0s step-start forwards;
    clip-path: polygon(0 0, 101% 0, 101% 101%, 0 101%);
}

.nav-button:after {
    background-color: #FFFFFF;
}

.nav-button span {
    z-index: 1;
    position: relative;
    pointer-events: none;
}