.container {
    display: flex;
    margin: 0px 40px;
    flex-direction: row;
    column-gap: 10px;
    border-radius: 5px;
    justify-content: center;
}

.ticker-symbol {
    font-weight: bold;
    padding: 10px 0px;
    color: #1abc9c;
    background-color: rgba(0, 0, 0, 0.4);
    flex: 1 0 25%
}

.open-price {
    padding: 10px 0px;
    color: #ecf0f1;
    background-color: rgba(0, 0, 0, 0.4);
    flex: 2 0 25%
}

.current-price {
    padding: 10px 0px;
    color: #ecf0f1;
    background-color: rgba(0, 0, 0, 0.4);
    flex: 2 0 25%
}

.percent-change {
    padding: 10px 0px;
    background-color: rgba(0, 0, 0, 0.4);
    flex: 1 0 25%
}

.percent-red {
    color: #c0392b;
}

.percent-green {
    color: #2ecc71
}