.container {
    display: flex;
    margin: 0px 40px;
    flex-direction: row;
    column-gap: 10px;
    border-radius: 5px;
    justify-content: center;
}

.ticker-symbol {
    font-weight: bold;
    padding: 10px 0px;
    color: #2c3e50;
    background-color: rgba(0, 0, 0, 0.4);
    flex: 1 0 25%
}

.open-price {
    padding: 10px 0px;
    color: #ecf0f1;
    background-color: rgba(0, 0, 0, 0.4);
    flex: 2 0 25%
}

.current-price {
    padding: 10px 0px;
    color: #ecf0f1;
    background-color: rgba(0, 0, 0, 0.4);
    flex: 2 0 25%
}

.percent-change {
    padding: 10px 0px;
    background-color: rgba(0, 0, 0, 0.4);
    flex: 1 0 25%
}

.delete {
    background-color: #c0392b;
    border-radius: 5px;
    font-weight: bold;
    display: inline-block;
    vertical-align: middle;
    -webkit-transform: perspective(1px) translateZ(0);
    transform: perspective(1px) translateZ(0);
    box-shadow: 0 0 1px rgba(0, 0, 0, 0);
    -webkit-transition-duration: 0.3s;
    transition-duration: 0.3s;
    -webkit-transition-property: transform;
    transition-property: transform;
}

.delete:hover,
.delete:focus,
.delete:active {
    -webkit-transform: scale(1.1);
    transform: scale(1.1);
}

.percent-red {
    color: #c0392b;
}

.percent-green {
    color: #2ecc71
}