.container {
    background-color: rgba(0, 0, 0, 0.2);
    padding: 10px;
    display: flex;
    margin: 0px 40px;
    flex-direction: row;
    column-gap: 10px;
    border: 2px solid #1abc9c;
    border-radius: 10px;
}

.ticker-symbol {
    padding: 10px 0px;
    color: #1abc9c;
    background-color: rgba(0, 0, 0, 0.2);
    flex-grow: 1;
}

.open-price {
    padding: 10px 0px;
    color: #ecf0f1;
    background-color: rgba(0, 0, 0, 0.2);
    flex-grow: 3;
}

.current-price {
    padding: 10px 0px;
    color: #ecf0f1;
    background-color: rgba(0, 0, 0, 0.2);
    flex-grow: 3;
}

.percent-change {
    padding: 10px 0px;
    background-color: rgba(0, 0, 0, 0.2);
    flex-grow: 1;
}

.percent-red {
    color: #c0392b;
}

.percent-green {
    color: #2ecc71
}